.funny-glasses{
    position: relative;
    bottom: 110px;
    left: 210px;
}
.bandana{
    position: absolute;
    bottom: 75px;
    left: 105px;
}
.pawprint{
    position: fixed;
    left: 67px; 
    bottom: 1060px;
} 
.luna{
    position: sticky;
    left: 0;
}
.top-hat{
    position: relative;
    z-index: 1;
}